/* CIT 230 - Assignment Portal CSS Template */
/* You may use #HEX or color names */

/* * is a wildcard referring to all elements. */
*{margin: 0; box-sizing: border-box; } 

body { font-size: 16px; line-height: 32px; font-family: Georgia /* Ubuntu, sans-serif */; color: blue /* #xxxxxx */;}

ul { list-style-type: circle; margin: 0; padding: 0; width: 100px; background-color: #f1f1f1;}
 
h1 { font: 12px/* x.xrem  (rem is a unit of measure) */; color: blue/* #xxxxxx */;}

h2 { text-align: center; border-bottom: 1px solid rgb(163, 11, 11);}

header, footer, footer a { text-align: center; background-color:black /* */; color: blue;}
header, main, footer { margin: 1.25rem auto; padding: .5rem; max-width: 500px /* xxxpx (px = pixel is a unit of measure)  */;}

header img { width: 100px/*  */; height: auto; float: right;}

footer { font: 12px /* smaller */;}