/* CIT 230 - Assignment Portal CSS Template */
/* You may use #HEX or color names */

/* * is a wildcard referring to all elements. */
* { scroll-margin: center; box-sizing: border-box; } 

.css-selector {
    font-family: 'AR Julian','Angsana UPC','Baskerville Old Face', 'Georgia';
    font-size: ;
    color:  #ffff00,#00bfff;
    background-color: ;
}
main {max-width:820px;margin:0 auto;}
h2 {text-align: center;font-size:2rem;text-shadow:3px 3px 5px #777;}

.herodiv {margin: 10px auto;position: relative;}

.stats {
	position: absolute;
	top: 25px;
	right: 50px;
	background: radial-gradient(#eee, #4567aa;);
	border: 1px solid #000;
	padding: 1.5rem;
	box-shadow: 0 0 30px #fff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
header {
    font-family: 'AR Julian';
    font-size: 24px;
    color: #00bfff;
    background-color: #daa520;
    border: #ffd700
}
nav { 
    font-size: 24px; 
    line-height: 32px;
    font-family: 'Angsana UPC' /* Ubuntu, sans-serif */;
    color: #ffff00/* #xxxxxx */;
    background-color: #6495ed
}
h1 {
    font-family: 'baskerville old face';
    font-size: 16px;
    background-color: #6495ed;
    color: #ffff00;

}

 h2 {
    font-family: 'baskerville old face';
    font-size: 16px;
    background-color: #6495ed;
    color: #ffff00

 }
h3 {
    font-family: 'baskerville old face';
    font-size: 16px;
    background-color: #6495ed;
    color: #ffff00;
}
p {
    font-family: 'Georgia';
    font-size: 14px;
    background-color: #6495ed;
    color: #ffff00;

}
body {
    font-family: 'baskervill old face';
    font-size: 16px;
    background-color: #6495ed;
    color: #ffff00;

}
footer {
    font-family: 'baskerville old face';
    font-size:  12px /* smaller */;
    background-color: #6495ed;
    color: #ffff00
    

}
