/* CIT 230 - Assignment Portal CSS Template */
/* You may use #HEX or color names */

/* * is a wildcard referring to all elements. */
* { scroll-margin: center; box-sizing: border-box; } 

.css-selector {
    font-family: Baskerville Old Face, Georgia, Times, 'Georgia';
}

/body { 
    font-size: 16px; 
    line-height: 32px;
    font-family: Georgia /* Ubuntu, sans-serif */;
    color: blue /* #xxxxxx */;
}

article, aside, figure, footer, header, main, nav, section {
    display: block;
    }

footer {
    font: 12px /* smaller */;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }